<h1>Welcome to online university </h1>
<br>
<p>На сайте есть курсы по обучению python, java, javascript. </p>
<p>Cтуденты могут записаться на <strong>один</strong> или <strong>несколько</strong> курсов</p>

{% block body %}

	<div>
		<a href="/create-category/">Создать новую категорию</a>
	</div>
	<div>
		<h1>Список существующих категорий</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span>Количество курсов: {{item.course_count()}}</span>
			<a href="/courses-list/?id={{item.id}}">Показать курсы</a>
        </li>
        {% endfor %}
		<br>
		<hr>
	</div>
    <div>
		<li>
			<a href="/student-list/">Список студентов</a>
		</li>
		<li>
			<a href="/create-student/">Создать студента</a>
		</li>
		<li>
			<a href="/add-student/">Добавить студента на курс</a>
		</li>
	</div>
{% endblock %}